<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>coplaner - Schedule</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/css/scheduleStyle.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-md gradient-background">
    <div class="container container-fluid">
        <a class="navbar-brand fw-bold" href="/">coplaner</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active mx-3" aria-current="page" href="/">Home</a>
                <a class="nav-link mx-3" href="/select">Generate</a>
                <a class="nav-link mx-3" href="/about">About</a>
            </div>
        </div>
    </div>
</nav>

<div>
    <div id="noScheduleDiv" class="centered invisible">
        <p class="h2 text-center">A schedule cannot be created for the courses you entered.</p>
        <a style="display: block; margin:50px auto; width: 200px" href="/select" class="btn btn-outline-dark">Create New Course List</a>
    </div>

    <div id="loadingDiv" class="text-center centered">
        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <p class="h2 text-center mt-4">Generating Timetables</p>
        <p class="h4 text-center">This may take a minute</p>
    </div>

    <div id="scheduleContent" class="mt-4 invisible">
        <div class='info text-center' >
            <h3 id="title">Schedule 1/2</h3>
        </div>
        <div id="limitReachedWarning" class="alert alert-warning alert-dismissible fade show col-6 offset-3" role="alert">
            <strong>Warning:</strong> There are too many possible schedule options! Only the first 50 are shown!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class='d-flex justify-content-evenly mb-4'>
            <div class="text-center">
                <button id="copyCRNs" class="btn btn-outline-dark btn-sm" type="button"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-copy" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1h1v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1v1z"/>
                    </svg><span id="copyCRNsText"> Copy CRNs</span> </button>
                <button id="exportPdfButton" class="btn btn-outline-dark btn-sm" type="button"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filetype-pdf" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5zM1.6 11.85H0v3.999h.791v-1.342h.803q.43 0 .732-.173.305-.175.463-.474a1.4 1.4 0 0 0 .161-.677q0-.375-.158-.677a1.2 1.2 0 0 0-.46-.477q-.3-.18-.732-.179m.545 1.333a.8.8 0 0 1-.085.38.57.57 0 0 1-.238.241.8.8 0 0 1-.375.082H.788V12.48h.66q.327 0 .512.181.185.183.185.522m1.217-1.333v3.999h1.46q.602 0 .998-.237a1.45 1.45 0 0 0 .595-.689q.196-.45.196-1.084 0-.63-.196-1.075a1.43 1.43 0 0 0-.589-.68q-.396-.234-1.005-.234zm.791.645h.563q.371 0 .609.152a.9.9 0 0 1 .354.454q.118.302.118.753a2.3 2.3 0 0 1-.068.592 1.1 1.1 0 0 1-.196.422.8.8 0 0 1-.334.252 1.3 1.3 0 0 1-.483.082h-.563zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638z"/>
                    </svg>Export</button>
            </div>
            <div class="d-inline text-center mt-0 pt-0">
                <p class="d-inline mt-1 mb-0">Use arrow keys to move between schedules.</p>

            </div>
            <div class="text-center">
                <button class="btn btn-outline-dark btn-sm" id="prev">< Previous</button>
                <button class="btn btn-outline-dark btn-sm" id="next">Next ></button>
            </div>
        </div>

        <div id='schedule'>
            <div class='s-legend'>
                <div class='s-cell s-head-info'>
                    <div class='s-name'>TT</div>
                </div>
                <div class='s-week-day s-cell'>
                    <div class='s-day'>Mon</div>
                </div>
                <div class='s-week-day s-cell'>
                    <div class='s-day'>Tue</div>
                </div>
                <div class='s-week-day s-cell'>
                    <div class='s-day'>Wed</div>
                </div>
                <div class='s-week-day s-cell'>
                    <div class='s-day'>Thu</div>
                </div>
                <div class='s-week-day s-cell'>
                    <div class='s-day'>Fri</div>
                </div>
            </div>
            <div class='s-container s-block'>
                <div class='s-head-info'>
                    <% for (var i = 8; i < 22; i++) { %>
                        <div class='s-head-hour'>
                            <div class='s-number'> <%=i%></div>
                            <div class='s-hourly-interval'><%=i%>.00-<%=i+1%>.00</div>
                        </div>
                    <% } %>
                </div>
                <div class='s-rows-container'>
                    <div class='s-activities'>
                        <div class='s-act-row'></div>
                        <div class='s-act-row'></div>
                        <div class='s-act-row'></div>
                        <div class='s-act-row'></div>
                        <div class='s-act-row'></div>
                    </div>
                    <% for (var i = 0; i < 14; i++) { %>
                        <div class='s-row s-hour-row'>
                            <div class='s-hour-wrapper s-cell'>
                                <div class='s-half-hour'></div>
                                <div class='s-half-hour'></div>
                            </div>
                            <div class='s-hour-wrapper s-cell'>
                                <div class='s-half-hour'></div>
                                <div class='s-half-hour'></div>
                            </div>
                            <div class='s-hour-wrapper s-cell'>
                                <div class='s-half-hour'></div>
                                <div class='s-half-hour'></div>
                            </div>
                            <div class='s-hour-wrapper s-cell'>
                                <div class='s-half-hour'></div>
                                <div class='s-half-hour'></div>
                            </div>
                            <div class='s-hour-wrapper s-cell'>
                                <div class='s-half-hour'></div>
                                <div class='s-half-hour'></div>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>

        <div id="unscheduledCoursesDiv" class="offset-0 offset-sm-1 offset-md-2 offset-xl-3 mt-3 mb-5 pb-5">
            <p class="mb-0">Courses without assigned meeting times:</p>
            <ul id="unscheduledCoursesList"></ul>
        </div>

        <p id="generatedby" class="blockquote-footer">Generated by coplaner</p>

    </div>
</div>

<footer style="background: #efefef" class="footer px-5 py-4 fixed-bottom text-center">
    &copy; <%=new Date().getFullYear()%> coplaner
</footer>

<script src='/js/jquery.min.js'></script>
<script src="/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script>
    const courses = <%- JSON.stringify(selectedCourses) %>;
    const term = <%- termCode %>;
</script>
<script src="/js/scheduleScript.js"></script>

</body>
</html>
