<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>coplaner - Course Selection</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/gradient.css">
</head>

<body>
<nav class="navbar navbar-expand-md gradient-background">
    <div class="container container-fluid">
        <a class="navbar-brand fw-bold" href="/">coplaner</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active mx-3" aria-current="page" href="/">Home</a>
                <a class="nav-link mx-3" href="/select">Generate</a>
                <a class="nav-link mx-3" href="/about">About</a>
            </div>
        </div>
    </div>
</nav>

<div class="container mt-5">
    <h2 class="mb-5">Select Courses</h2>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Note:</strong> Don't enter any non-credit courses!
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="row">
        <div class="col">
            <label for="termSelector" class="form-label">Term</label>
            <select class="form-select" aria-label="Default select example" id="termSelector">
                <%   const getTermNameFromTermCode = function (termCode) {
                        const termSeasons = ["Winter", "Summer", "Fall"]
                        let termYear = termCode.trim().substring(0, 4)
                        let termSeasonCode = parseInt(termCode.trim().substring(4, 5))-1
                        return termSeasons[termSeasonCode] + " " + termYear
                }%>
                <% for (const term of Object.keys(courseCodes)){ %>
                    <option value=<%=term%>><%=getTermNameFromTermCode(term)%></option>
                <% } %>
            </select>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <label for="subjectSelector" class="form-label">Subject</label>
            <select class="form-select" aria-label="Default select example" id="subjectSelector">
                <% for (const subject of Object.keys(courseCodes[Object.keys(courseCodes)[0]])){ %>
                    <option value=<%=subject%>><%=subject%></option>
                <% } %>
            </select>
        </div>
        <div class="col">
            <label for="codeSelector" class="form-label">Code</label>
            <select class="form-select" aria-label="Default select example" id="codeSelector">
                <% for (const code of courseCodes[Object.keys(courseCodes)[0]][Object.keys(courseCodes[Object.keys(courseCodes)[0]])[0]] ){ %>
                <option value=<%=code%>><%=code%></option>
                <% } %>
            </select>
        </div>
        <div class="col d-flex align-items-end">
            <button class="btn btn-primary mt-3" id="addButton"> Add Course</button>
        </div>
    </div>

    <div class="row mt-5" id="courseListDiv">
        <h3 class="fs-4 pt-4" id="courseListTitle"></h3>
        <div class="accordion" id="courseList">
        </div>
    </div>

    <form class="row mt-4 d-flex justify-content-center align-items-center" id="form" action="/schedule" method="post">
        <div class="col-10 col-xs-8 col-sm-6 col-md-4 d-flex justify-content-center align-items-center">
            <input type="hidden" name="selectedCourses" id="courseFormCourses">
            <input type="hidden" name="term" id="courseFormTerm">
            <button style="margin-bottom: 200px" class="btn btn-success w-100 invisible" id="formButton">Generate Schedule</button>
        </div>
    </form>

</div>

<footer style="background: #efefef" class="footer px-5 py-4 fixed-bottom text-center">
    &copy; <%=new Date().getFullYear()%> coplaner
</footer>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script src="/js/courseSelection.js"></script>
<script>
    let courseCodes = <%-JSON.stringify(courseCodes) %>;
    let selectedCourses = {};

    $("#termSelector").on( "change", function() {
        let termCode = this.value
        let firstSubject = Object.keys(courseCodes[termCode])[0]

        $("#subjectSelector").empty()
        for(const subj of Object.keys(courseCodes[termCode])){
            let subjectOption = "<option value=" + subj + ">" + subj + "</option>";
            $('#subjectSelector').append(subjectOption);
        }


        $("#codeSelector").empty()
        for(const code of courseCodes[termCode][firstSubject]){
            let codeOption = "<option value=" + code + ">" + code + "</option>";
            $('#codeSelector').append(codeOption);
        }
    });

    $("#subjectSelector").on( "change", function() {
        let termCode = $("#termSelector").val()
        let subject = this.value

        $("#codeSelector").empty()
        for(const code of courseCodes[termCode][subject]){
            let codeOption = "<option value=" + code + ">" + code + "</option>";
            $('#codeSelector').append(codeOption);
        }
    });

    let removeItem = function (subject, code) {
        $(`#li_${subject}${code}`).remove();
        delete selectedCourses[subject+"_"+code];
        $("#courseFormCourses").val(JSON.stringify(selectedCourses))
        if(Object.keys(selectedCourses).length === 0){
            $("#courseListTitle").text("").removeClass("border-top")
            $("#termSelector").prop('disabled', false);
            $("#formButton").addClass("invisible")
        }
    }

    let sectionSelectionChanged = function (cb) {
        const [subj, code, sec] = cb.getAttribute("value").split(" ")
        if(cb.checked){
            selectedCourses[subj+"_"+code].push(sec)
        }else{
            if(selectedCourses[subj+"_"+code].length <= 1){
                cb.checked = true
                alert("You need to select at least one section for each course")
            }else{
                selectedCourses[subj+"_"+code].splice(selectedCourses[subj+"_"+code].indexOf(sec), 1)
            }
        }
        $("#courseFormCourses").val(JSON.stringify(selectedCourses))
    }


    $("#addButton").on( "click", function() {
        let term = $("#termSelector").val()
        let subject = $("#subjectSelector").val();
        let code = $("#codeSelector").val()
        if(!subject || !code){
            return;
        }
        if(Object.keys(selectedCourses).length === 0){
            $("#courseListTitle").text("Courses:").addClass("border-top")
            $("#termSelector").prop('disabled', true);
            $("#formButton").removeClass("invisible")
            $("#courseFormTerm").val($("#termSelector").val())
        }

        let sectionOptions = [];
        $.ajax({
            url: `db/courseSections/${term}/${subject}/${code}`,
            method: 'GET',
            success: function(response) {
                sectionOptions = response;
            },
            error: function(xhr, status, error) {
                alert("Error: Cannot get course information! Refreshing the page!")
                location.reload()
            },
            async: false
        });
        let course = subject + " " + code
        if(!Object.keys(selectedCourses).includes(subject + "_" + code)){
            let courseItem = `<div id="li_${subject}${code}" class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-${subject}${code}" aria-expanded="false" aria-controls="panelsStayOpen-${subject}${code}">
                    ${course}
                  </button>
                </h2>
                <div id="panelsStayOpen-${subject}${code}" class="accordion-collapse collapse">
                  <div class="accordion-body">
                    <div class="row justify-content-between">
                       <div class="col-9 col-sm-11 d-flex align-items-center">`;

            for (let i = 0; i < sectionOptions.length; i++) {
                courseItem += `
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="s_${subject}${code}${sectionOptions[i]}" value="${subject} ${code} ${sectionOptions[i]}" onchange=\"sectionSelectionChanged(this)\" checked>
                  <label class="form-check-label" for="s_${subject}${code}${sectionOptions[i]}">${sectionOptions[i]}</label>
                </div>
                `
            }

            courseItem += `</div>
              <div class=\"col-3 col-sm-1 d-flex align-items-center\">\
                <button onclick=\"removeItem('${subject}', '${code}')\" type=\"button\" class=\"btn btn-outline-danger\"> <svg xmlns=\"http://www.w3.org/2000/svg\" width=\"18\" height=\"18\" fill=\"currentColor\" class=\"bi bi-trash\" viewBox=\"0 0 16 16\"><path d=\"M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z\"></path> <path d=\"M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z\"></path></svg></button>
              </div>`


            courseItem += "</div></div></div>"
            $("#courseList").append(courseItem)
            selectedCourses[subject + "_" + code] = [...sectionOptions]
            $("#courseFormCourses").val(JSON.stringify(selectedCourses))
        }
    });



</script>
</body>
</html>